@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Jersey+15&family=Princess+Sofia&display=swap');




header{
    text-align: center;
    padding: 1%;
    text-shadow: 3px 3px 20px whitesmoke;
    font-family: "Princess Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    /* background-color: red; */
}
h1 {
    padding-top: 1%;
}

.navbar {
    
    box-shadow: 2px 2px 20px;
}


body{
    
    background-image: url("../img/mariposas.jpg");
    background-size: cover;
    background-position: center;
    
}

.container img{
    filter: drop-shadow(2px 2px 20px black);
    padding: 5%;
}


h2 {
    text-shadow: 3px 3px 20px whitesmoke;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style:normal ;
    font-size: large;

}

footer {
    text-align: center;
    padding: 3%;
    text-shadow: 3px 3px 10px rgb(148, 144, 144);
    gap: 2%;
}

.sombra {

  filter: drop-shadow(5px 5px 10px rgb(71, 71, 71));
  mix-blend-mode: multiply;
  
}

.card {
    gap: 10%;
    margin-left: 20%;
    
}


.container {
    padding-top: 2%;
    display: flex;
    
}

.item {
    flex: 1; /* Todas las celdas ocupan el mismo espacio */
    margin: 1px; /* Espacio entre las celdas */
  }

.alineacion {
text-align: right;
padding-top: 5%;
}

.foot {
    padding: 2%;
}

